.button {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border: none;
  width: inherit;
  height: inherit;
  box-shadow: none;
  background-color: transparent;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: var(--shadow-small);
  transform: translateY(-0.2rem) scale(1);
}

.button:active {
  box-shadow: var(--shadow-small-active);
  transform: translateY(0) scale(1);
}

.button:has(.icon):hover {
  box-shadow: none;
  transform: translateY(0) scale(1.2);
}

.button:has(.icon):active {
  box-shadow: none;
  transform: translateY(0) scale(1);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;

  &:hover {
    box-shadow: none;
    transform: translateY(0) scale(1);
  }
}

.textButton {
  display: inline-flex;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: inherit;
  color: var(--static-white);
  background-color: var(--primary);
}

.icon {
  width: inherit;
  height: inherit;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
