.header {
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary-alpha);

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.link {
  font-weight: 400;
  font-size: 2rem;
  text-shadow: none;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  font-weight: 600;
  text-shadow: var(--shadow-small);
  transform: translateY(-0.2rem);
}

.link:active {
  text-shadow: var(--shadow-small-active);
  transform: translateY(0);
}

.link:visited {
  color: var(--primary-alpha);
}

@media screen and (max-width: 30em) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
  }
}
