.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--primary);
  gap: 1rem;

  select {
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
    color: inherit;
    background-color: var(--secondary-alpha2);
    cursor: pointer;

    &:hover {
      border-color: var(--primary);
    }
  }
}
