.icon {
  width: 10rem;
  height: 10rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding-inline: 2rem;
}

.text {
  font-size: 3.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button {
  align-self: end;
  margin-top: auto;
}
